# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
/staticfiles/
media/
.env

# IDEs
.vscode/
*.idea/

# OS
.DS_Store
Thumbs.db

# Playwright
node_modules/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Test results
test-results/*
!test-results/.gitkeep   # Keep the folder tracked
