{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>JobLink Kenya- Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=no">
</head>
<body>
    <div class="signup-form">
        <h2>Create Account</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <h3><a href="{% url 'login' %}">Already have an account?</a></h3>
    </div>
    
</body>
</html>
